body {
  margin: auto;
  padding: 2%;
  background-color: #212121; }
  body h1, body h2, body h3, body h4 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; }
  body h3, body h4 {
    text-shadow: 2px 2px 1px red, -2px -2px 1px blue, -2px 2px 1px green; }

#landing-content {
  margin: auto;
  width: 50%;
  display: grid;
  grid-auto-columns: 1fr; }
  #landing-content #title-en {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: #26a69a;
    font-size: 3rem;
    transition: all 0.7s ease; }
  #landing-content #title-en:hover {
    background-color: #ffffff; }
  #landing-content p {
    color: black;
    text-shadow: 1px 1px 1px white;
    margin: 5%;
    line-height: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; }
  #landing-content #desc-en {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    background-color: #2196f3; }
  #landing-content #desc-cn {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    background-color: #f44336; }
    #landing-content #desc-cn p {
      line-height: 2rem;
      font-size: 1.5rem; }
  #landing-content #title-cn {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    background-color: #26a69a;
    font-size: 3rem;
    transition: all 0.7s ease; }
  #landing-content #title-cn:hover {
    background-color: #ffffff; }

.grid-container {
  display: grid;
  grid-template-columns: auto; }
  .grid-container #content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .grid-container #content .flex-side-item {
      margin-left: auto;
      margin-right: auto;
      padding-left: 100px;
      padding-right: 100px;
      flex-basis: 0;
      flex-grow: 1; }
    .grid-container #content .flex-main-item {
      margin: auto;
      flex-basis: 0;
      flex-grow: 1; }
      .grid-container #content .flex-main-item canvas {
        display: flex;
        margin: auto;
        background-color: #424242;
        border: 3px solid #26a69a; }

#game-over {
  display: grid; }
  #game-over #go-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1; }
  #game-over .go-content {
    grid-row-start: 2; }
